.text-area-container {
  margin: 10px 40px 20px 40px;
  color: white;
}

.text-area-container h4 {
  margin-bottom: 5px;
  color: #F5F5F5;
}

.text-area-container p {
  font-size: 14px;
  color: #DCDCDC;
}
